header{background-color: skyblue;height: 50px;text-align: center;}
h1{padding-top: 3px;}
#TodoTemplate{box-shadow: 2px 2px 5px #aaa;width: 600px;min-height: 800px;margin: 0 auto;border-radius: 2px;overflow: hidden;margin-top: 10px;}