li{border-bottom: 1px solid #eee; height: 80px;}
li p {padding-top: 15px;padding-left: 10px;font-size:18px;font-weight: bold;color: #777}
.buttons{display: flex;justify-content: flex-end;padding-top: 5px;}
