li{border-bottom: 1px solid #eee; min-height: 80px;padding:10px;}
li p {font-size:18px;font-weight: bold;color: #777;word-break: break-all}
.buttons{display: flex;justify-content: flex-end;padding-top: 5px;}
